<div class="row">
    <div class="jumbotron text-center">
        <h1>Welcome {{user.local.username}}!</h1>
        <h3>Here is your News Feed</h3>
    </div>
    <button type="button" class="btn btn-primary" ng-click="addArticlePage()">
        <span class="glyphicon glyphicon-plus"></span> Add Article
    </button>
    <div ng-repeat="article in articles">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-8 text-left" style="padding-left:20px;">
                <h1>{{article.description}}</h1>
                <a href="{{article.url}}" target="_blank"><h3>{{article.url}}</h3></a>
            </div>
            <div class="col-md-4 text-center" style="padding-top:15px">
                <h4><strong>Posted By:</strong> {{article.user.local.username}}</h4>
                <button type="button" class="btn btn-sm btn-success"
                        ng-disabled="user.local.username == article.user.local.username"
                        ng-class="{active: article.inUp}"
                        ng-click="voteUp(article._id)">
                    <span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge" style="margin-left:5px;">{{article.upVotes}}</span>
                </button>
                <button type="button" class="btn btn-sm btn-danger"
                        ng-disabled="user.local.username == article.user.local.username"
                        ng-class="{active: article.inDown}"
                        ng-click="voteDown(article._id)">
                    <span class="glyphicon glyphicon-thumbs-down"></span> <span class="badge" style="margin-left:5px;">{{article.downVotes}}</span>
                </button>
            </div>
        </div>
        <hr>
    </div>
</div>
<button class="btn btn-lg btn-warning" ng-click="logout()">Log Out</button>